.input-group-prepend{
 	width: 30%;
}

.title-text{
	text-transform: uppercase; 
	font-size: 1.2em; 
	font-weight: bold; 
	padding-top: 1rem;
}

.cus-input-group{
	display: grid; 
	grid-template-columns: auto auto;
}